.ui-widget {
  font-size: 0.8em;
}
.ui-widget-header {
  padding: 5px;
}
.ui-widget-content {
  padding: 5px;
  margin-bottom: 10px;
}
.ui-widget-content .new-fs {
  padding: 0px;
}
.fs-descr .title {
    font-size: 120%;
    padding-bottom: 10px;
}
.fs-descr .ui-widget-content {
  padding : 10px;
}

.fs-size-bar {
    height: 1em;
    border: 1px solid #F3F3F3;
    border-color: #DDD;
    width: 100%;
    background-color: #FAFAFA;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 1em;    
    height:1em;
    border-radius: 3px;
}
.fs-size-division {
    float: left;
    padding-top: .5em;
    height: 0.5em;
}


.fs-size-textbar {
    margin-bottom: 1em;
}
.fs-size-textbar-content {
    float: left;
    color: #505050;
}
.fs-line .fs-size-division {
    width: 1em;
    margin-left: 1em;
    margin-right: .5em;
    float: left;
}

    
.fs-size-trash {  background-color: #FF5959; }
.fs-size-orphan {  background-color: #FFDF38; }
.fs-size-used {  background-color: #C1DFFC; }

